<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="/img/psn-logo.jpeg" type="image/x-icon" />
    <title>Handover · Handover H58</title>
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
    <div class="header-container">
        <h1>Handover H58</h1>
        <div class="note">
            <b>Note:</b> <br>
            <i>UT Online > 70% Normal dan UT Offline <30% = Normal </i><br>
            <i>Total High Beam SER > 15% = Massive</i>
        </div>
    </div>
    <div class="header">
        <span>Shift:</span>
        <select id="shiftSelect">
            <option value="shift1">Shift 1</option>
            <option value="shift2">Shift 2</option>
            <option value="shift3">Shift 3</option>
        </select>
        <div class="date-now" id="dateNow"></div>
    </div>

    <div class="tables-grid">
        <% if ((tableData['ip_transit'] && tableData['ip_transit'].length > 0) ) { %>   
            <div class="table-container full-width ip-transit">
                <h2>IP Transit</h2>
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">Moratel </th>
                            <th colspan="2">Telkom</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th>Incoming</th>
                        <th>Outgoing</th>
                        <th>Incoming</th>
                        <th>Outgoing</th>

                        <% tableData['ip_transit'].forEach(data => { %>
                            <tr>
                                <!-- Moratel -->
                                <td> 
                                    <%= data.moratel_incoming >= 1000
                                        ? (data.moratel_incoming/ 1000).toFixed(2) + ' Gbps' 
                                        : parseFloat(data.moratel_incoming).toFixed(2) + ' Mbps' 
                                    %>
                                </td>
                                <td>
                                    <%= data.moratel_outgoing >= 1000
                                        ? (data.moratel_outgoing/ 1000).toFixed(2) + ' Gbps' 
                                        : parseFloat(data.moratel_outgoing).toFixed(2) + ' Mbps' 
                                    %>
                                </td>

                                <!-- Telkom -->
                                <td>
                                    <%= data.telkom_incoming >= 1000
                                        ? (data.telkom_incoming / 1000).toFixed(2) + ' Gbps' 
                                        : parseFloat(data.telkom_incoming).toFixed(2) + ' Mbps' 
                                    %>
                                </td>
                                <td>
                                    <%= data.telkom_outgoing >= 1000
                                        ? (data.telkom_outgoing / 1000).toFixed(2) + ' Gbps' 
                                        : parseFloat(data.telkom_outgoing).toFixed(2) + ' Mbps' 
                                    %>
                                </td>      
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        <% } %>


        <!-- start all Capacity -->
        <% if (tableData['all_capacity'].length > 0) { %>
            <div class="table-container capacity">
                <h2>All Capacity</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Traffic</th>
                            <th>Outroute</th>
                            <th>Inroute</th>   
                            <th>Total</th>  
                        </tr>
                    </thead>
                    <tbody>
                        <% tableData['all_capacity'].forEach(data => { %>
                            <tr>
                                <td><b>Estimate</b></td>
                                <td>
                                    <%= data.or_capacity >= 1000_000_000
                                        ? (data.or_capacity / 1000_000_000).toFixed(2) + ' Gbps' 
                                        : parseFloat(data.or_capacity / 1_000_000).toFixed(2) + ' Mbps' 
                                    %>
                                </td>
                                <td>
                                    <%= data.ir_capacity >= 1000_000_000
                                        ? (data.ir_capacity / 1000_000_000).toFixed(2) + ' Gbps' 
                                        : parseFloat(data.ir_capacity / 1_000_000).toFixed(2) + ' Mbps' 
                                    %>
                                </td>
                                <td>
                                    <%= data.total >= 1000_000_000
                                        ? (data.total / 1000_000_000).toFixed(2) + ' Gbps' 
                                        : parseFloat(data.total / 1_000_000).toFixed(2) + ' Mbps' 
                                    %>
                                </td>
                            </tr>
                            
                            <tr>
                                <td><b>Actual</b></td>
                                <td>
                                    <%= data.or_capacity_act >= 1000_000_000
                                        ? (data.or_capacity_act / 1000_000_000).toFixed(2) + ' Gbps' 
                                        : parseFloat(data.or_capacity_act / 1_000_000).toFixed(2) + ' Mbps' 
                                    %>
                                </td>
                                <td>
                                    <%= data.ir_capacity_act >= 1000_000_000
                                        ? (data.ir_capacity_act / 1000_000_000).toFixed(2) + ' Gbps' 
                                        : parseFloat(data.ir_capacity_act / 1_000_000).toFixed(2) + ' Mbps' 
                                    %>
                                </td>
                                <td>
                                    <%= data.total_act >= 1000_000_000
                                        ? (data.total_act / 1000_000_000).toFixed(2) + ' Gbps' 
                                        : parseFloat(data.total_act / 1_000_000).toFixed(2) + ' Mbps' 
                                    %>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        <% } else { %>
            <p>No capacity data available.</p>
        <% } %>
        <!-- end all Capacity -->

        <!-- start served Gateway -->
        <div class="gwBatam">
            <table>
                <thead>
                    <h2>Gateway Batam</h2> 
                    <tr>
                        <th>Served Beam</th>
                        <th>Detail Beam</th>
                    </tr>
                    <tr>
                        <td>15 Beam</td>
                        <td>1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 16, 20, 21</td>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="gwPontianak">
            <table>
                <thead>
                    <h2>Gateway Pontianak</h2> 
                    <tr>
                        <th>Served Beam</th>
                        <th>Detail Beam</th>
                    </tr>
                    <tr>
                        <td>16 Beam</td>
                        <td>14, 15, 45, 53, 19, 24, 50, 18, 22, 48, 23, 47, 49, 55, 17, 25</td>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="gwTarakan">
            <table>
                <thead>
                    <h2>Gateway Tarakan</h2> 
                    <tr>
                        <th>Served Beam</th>
                        <th>Detail Beam</th>
                    </tr>
                    <tr>
                        <td>21 Beam</td>
                        <td>32, 36, 41, 42, 66, 35, 52, 60L, 60U, 31, 34, 40, 43, 56, 30, 33, 38, 61, 37, 39, 59</td>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="gwManado">
            <table>
                <thead>
                    <h2>Gateway Manado</h2> 
                    <tr>
                        <th>Served Beam</th>
                        <th>Detail Beam</th>
                    </tr>
                    <tr>
                        <td>22 Beam</td>
                        <td>26, 44, 57, 72, 62, 63, 64, 70, 28L, 27, 46, 65, 28U, 51, 54, 58, 105, 67, 68, 69L, 71, 69U</td>
                    </tr>
                </thead>
            </table>
        </div>
        <!-- end serverd Gateway -->

        <% Object.keys(tableData).forEach(tableName => { %>
            <% if (tableName !== 'ip_transit' && tableName !== 'all_capacity') { %> 
                <div class="table-container 
                <% if (tableName === 'batam_trafik' || tableName === 'batam_ut' || tableName === 'batam_ser') { %>
                    batam
                <% } else if (tableName === 'pontianak_trafik' || tableName === 'pontianak_ut' || tableName === 'pontianak_ser') { %>
                    pontianak
                <% } else if (tableName === 'tarakan_trafik' || tableName === 'tarakan_ut' || tableName === 'tarakan_ser') { %>
                    tarakan
                <% } else if (tableName === 'manado_trafik' || tableName === 'manado_ut' || tableName === 'manado_ser') { %>
                    manado
                <% } else { %>
                    default
                <% } %>
                ">
                    <h2><%= serDisplayNames[tableName] || tableName %></h2>
                    <% if (tableData[tableName].length > 0) { %>
                        <table>
                            <thead>
                                <% if (tableName.includes('_ut')) { %>
                                    <tr>
                                        <th>Online UT</th>
                                        <th>Offline UT</th>
                                        <th>Total UT</th>
                                        <th>Online Percentage</th>
                                        <th>Note</th>
                                    </tr>
                                <% } else if (tableName.includes('_ser')) { %>
                                    <tr>
                                        <th>Beam Name</th>
                                        <th>Terminal Active</th>
                                        <th>State Code</th>
                                        <th>Percentage</th>
                                    </tr>
                                <% } else if (tableName.includes('_trafik')) { %>
                                    <tr>
                                        <th colspan="2">Mon Trafik</th>
                                        <th>Est Capacity</th>
                                        <th>Target Capacity</th>
                                    </tr>
                                <% } %>
                            </thead>
                            <tbody>
                                <% tableData[tableName].forEach(data => { %>
                                    <tr>
                                        <% if (tableName.includes('_ut')) { %>
                                            <td><%= data.online_ut %></td>
                                            <td><%= data.offline_ut %></td>
                                            <td><%= data.total_ut %></td>
                                            <td><%= data.percentage_ut %>%</td>
                                            <td>
                                                <%= data.percentage_ut >= 70 ? "Normal" : "Tidak Normal" %>
                                            </td>
                                        <% } else if (tableName.includes('_ser')) { %>
                                            <td><%= data.beam_name %></td>
                                            <td><%= data.terminal %></td>
                                            <td><%= data.state %></td>
                                            <td><%= parseFloat(data.percentage).toFixed(1) %>%</td>
                                        <% } else if (tableName.includes('_trafik')) { %>
                                            <tr>
                                                <td><b>Outgoing</b></td>
                                                <td>
                                                    <%= data.outgoing >= 1000
                                                        ? (data.outgoing / 1000).toFixed(2) + ' Gbps' 
                                                        : parseFloat(data.outgoing).toFixed(2) + ' Mbps' 
                                                    %>
                                                </td>
                                                <td>
                                                    <%= data.outEstCap >= 1000
                                                        ? (data.outEstCap / 1000).toFixed(2) + ' Gbps' 
                                                        : parseFloat(data.outEstCap).toFixed(2) + ' Mbps' 
                                                    %>
                                                </td>
                                                <td>
                                                    <%= data.outTarCap >= 1000
                                                        ? (data.outTarCap / 1000).toFixed(2) + ' Gbps' 
                                                        : parseFloat(data.outTarCap).toFixed(2) + ' Mbps' 
                                                    %>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><b>Incoming</b></td>
                                                <td>
                                                    <%= data.incoming >= 1000
                                                        ? (data.incoming / 1000).toFixed(2) + ' Gbps' 
                                                        : parseFloat(data.incoming).toFixed(2) + ' Mbps' 
                                                    %>
                                                </td>
                                                <td>
                                                    <%= data.inEstCap >= 1000
                                                        ? (data.inEstCap / 1000).toFixed(2) + ' Gbps' 
                                                        : parseFloat(data.inEstCap).toFixed(2) + ' Mbps' 
                                                    %>
                                                </td>
                                                <td><%= parseFloat(data.inTarCap).toFixed(2) %> Gbps</td>
                                            </tr>
                                        <% } %>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    <% } else { %>
                        <p>No Beam with SER percentage > 15%</p>
                    <% } %>
                </div>
            <% } %>
        <% }) %>


        </div>
    <script src="/js/date.js"></script>
</body>
</html>

